/* Font faces */

@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/LM-regular.ttf') format('truetype'),
         url('../fonts/LM-regular.woff2') format('woff2'),
         url('../fonts/LM-regular.woff') format('woff');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/LM-italic.ttf') format('truetype'),
         url('../fonts/LM-italic.woff2') format('woff2'),
         url('../fonts/LM-italic.woff') format('woff');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/LM-bold.ttf') format('truetype'),
         url('../fonts/LM-bold.woff2') format('woff2'),
         url('../fonts/LM-bold.woff') format('woff');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/LM-bold-italic.ttf') format('truetype'),
         url('../fonts/LM-bold-italic.woff2') format('woff2'),
         url('../fonts/LM-bold-italic.woff') format('woff');
}

/*----------------------------------------------------------------------------*/

body {
    font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
    margin-bottom: 4em;
    background-color: #32302f; /* dark0 */
    color: #f2e5bc
}

#content {
    max-width: 750px;
}

#org-div-home-and-up {
    text-align: center;
    font-size: 80%;
    padding-bottom: 1em;
    border-bottom: 1px solid #3c3836; /* dark1 */
}

h1, h2, h3, h4 {
    color: #f2e5bc; /* light0_soft */
}

hr {
    border: none;
    height: 1px;
    color: #928374; /* gray */
    background-color: #928374; /* gray */
}

/*----------------------------------------------------------------------------*/

p, .footdef {
    text-align: justify;
}

p, li {
    line-height: 1.4em;
}

dl.org-dl dd p:nth-child(1) {
    margin-top: 0px;
}

dl.org-dl dd p:nth-last-child(1) {
    margin-bottom: 0px;
}

dl.org-dl dd {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#text-table-of-contents li {
    line-height: 1.3em;
}

p sup, li sup, p sub, li sub {
    line-height: 0.5em;
}

/*----------------------------------------------------------------------------*/

pre.src {
    background: #1d2021; /* dark0_hard */
    color: #fbf1c7; /* light0 */
    border: 1px solid #3c3836; /* dark1 */
}

pre.src::before {
    background-color: inherit;
    color: #928374; /* gray */
}

pre.src .linenr {
    color: #7c6f64; /* dark4 */
    user-select: none;
}

pre.src-nasm::before { content: 'Assembler (NASM)'; }

/*----------------------------------------------------------------------------*/

code {
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 2px;
    padding: 1px 3px;
    line-height: normal;
}

/*----------------------------------------------------------------------------*/

a {
    color: #fabd2f; /* bright_yellow */
    text-decoration-color: rgba(250, 189, 47, 0.2);
}

a[href^='#'] {
    text-decoration-style: dashed;
}

a:hover, a:focus {
    color: #fe8019; /* bright_orange */
    text-decoration-color: rgba(254, 128, 25, 0.5);
}

a:visited {
    color: #fabd2f; /* bright_yellow */
    text-decoration-color: rgba(250, 189, 47, 0.2); /* same as unvisited */
}

a:focus {
    outline: 2px solid #fabd2f; /* bright_yellow for focus */
    outline-offset: 2px;
}

/*----------------------------------------------------------------------------*/

blockquote {
    background: #3c3836; /* dark1 */
    border-left: 5px solid #d5c4a1; /* light2 */
    margin: 1.5em;
    padding: 0.5em 1.5em;
}

/*----------------------------------------------------------------------------*/

table {
    border: solid 1px #504945; /* dark2 */
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

table thead th {
    background-color: #d5c4a1; /* light2 */
    border: solid 1px #bdae93; /* light3 */
    padding-left: 10px;
    padding-right: 10px;
}

table tbody td {
    border: solid 1px #bdae93; /* light3 */
}

/*----------------------------------------------------------------------------*/

img {
    max-width: 100%;
}

.figure {
    padding: 0.5em 1em;
}

/*----------------------------------------------------------------------------*/

.figure-number, .table-number {
    font-weight: bold;
    color: #fb4934; /* bright_red */
}

/*----------------------------------------------------------------------------*/

#footnotes {
    margin-top: 2em;
    border-top: 1px solid #3c3836; /* dark1 */
}

